.wrap {
  width: 600px;
} // 지울예정
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
}
input[type="text"]:disabled {
  background-color: $bgColor-10;
  color: $color-4;
}

.input-wrap {
  .title {
    font-size: 20px;
    padding: 20px 0 10px 0;
    display: block;
  }
  .input-box-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 18px 20px;
    .input-box {
      width: 100%;
      padding-right: 20px;
      letter-spacing: -0.4px;
      text-align: left;
      color: #222;
    } 
  }
  .input-feedback {
    font-size: 14px;
    margin: 9px 0;
    display: block;
    letter-spacing: -0.35px;
    color: #2dae60;
    &.error {
      color: #f24141;
    }
  }
  .condition {
    display: block;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #999;
  }
}

// input
.field-form {
  margin-top: 12px;
  .title {
    display: block;
    font-size: 20px;
    height: 27px;
    color: $color-1;
    margin-bottom: 12px;
  }
  .cont-line {
    &.line {
      display: flex;
      .field {
        width: 100%;
      }
      .checkbutton {
        white-space: nowrap;
      }
    }
    .checkbutton {
      margin-left: 12px;
    }
    .field {
      transition: all .3s;
      border: 1px solid #E8E8E8;
      border-radius: 8px;
      box-sizing: border-box;

      color: $color-1;
      position: relative;
      .btn-clear {
        position: absolute;
        top: 0;
        right: 20px;
        overflow: hidden;
        // opacity: 0;
        text-indent: -999999em;
        width: 40px;
        height: 54px;
        transition: all 1s;
        background: url(../../../../public/assets/images/icons/ic_close_input.png) right center no-repeat;
      }
      &.clear {
        .btn-clear {
          opacity: 1;
        }
        input {
          padding-right: 50px;
        }
      }
    }
  }
  input {
    outline: none;
    border: 0;
    padding: 0 16px;
    width: 100%;
    height: 54px;
    font-size: 15px;
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
  } 
}

.important {
  color: $color-6;
}
.success, .error {
  // display: none;
  position: relative;
  font-size: 14px;
  margin-top: 9px;
}
.success {
  color: $color-13;
}
.error {
  color: $color-12;
}
.condition {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: $color-4;
}

// 검색창
.searchform {
  position: relative;
  width: 280px;
  height: 100%;
  .search {
    width: 100%;
    border: 1px solid $bdColor-3;
    border-radius: 8px;
    padding: 20px 48px 20px 15px;
    font-size: 14px;
  }
  .search-btn {
    position: absolute;
    width: 32px;
    height: 100%;
    top: 0;
    right: 16px;
		display: flex;
		transition: 0.2s;
    .search-icon {
      background-image: url(../../../../public/assets/images/icons/ic-search.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      width: inherit;
      height: 100%;
    }
  }
}