textarea:disabled {
  background-color: $bgColor-10;
  border: 1px solid $bdColor-3;
}
.textarea-wrap {
  h1 {
    font-size: 20px;
    padding: 20px 0 20px 20px;
  }
}
textarea {
  border-radius: 8px;
  border: solid 1px #ddd;
  background-color: #fff;
  width: 100%;
  padding: 20px 0 0 20px;
  height: 220px;
  resize: none;
}