@charset "utf-8";

/* Roboto */
@font-face {  
  font-family: 'roboto';  
  src: url(fonts/Roboto-Thin.woff2) format('woff2'),
     url(fonts/Roboto-Thin.woff) format('woff'),
     url(fonts/Roboto-Thin.otf) format('opentype');
  font-style: normal;  
  font-weight: 100;
}
@font-face {  
  font-family: 'roboto';  
  src: url(fonts/Roboto-Light.woff2) format('woff2'),
     url(fonts/Roboto-Light.woff) format('woff'),
     url(fonts/Roboto-Light.otf) format('opentype');
  font-style: normal;  
  font-weight: 200;
}
@font-face {
  font-family: 'roboto';  
  src: url(fonts/Roboto-Regular.woff2) format('woff2'),
      url(fonts/Roboto-Regular.woff) format('woff'),
      url(fonts/Roboto-Regular.otf) format('opentype');  
  font-style: normal;   
  font-weight: 300;
}
@font-face {   
  font-family: 'roboto';   
  src: url(fonts/Roboto-Medium.woff2) format('woff2'),
      url(fonts/Roboto-Medium.woff) format('woff'),
      url(fonts/Roboto-Medium.otf) format('opentype'); 
  font-style: normal;   
  font-weight: 400;}
@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Bold.woff2) format('woff2'),
      url(fonts/Roboto-Bold.woff) format('woff'),
      url(fonts/Roboto-Bold.otf) format('opentype'); 
  font-style: normal;
  font-weight: 500;
}

/*  Apple SD Gothic Neo */
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(fonts/AppleSDGothicNeoL.eot);
  src: url(fonts/AppleSDGothicNeoL.eot?#iefix) format('embedded-opentype'),
       url(fonts/AppleSDGothicNeoL.woff) format('woff'),
       url(fonts/AppleSDGothicNeoL.woff2) format('woff2'),;
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(fonts/AppleSDGothicNeoR.eot);
  src: url(fonts/AppleSDGothicNeoR.eot?#iefix) format('embedded-opentype'),
       url(fonts/AppleSDGothicNeoR.woff) format('woff'),
       url(fonts/AppleSDGothicNeoR.woff2) format('woff2'),;
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(fonts/AppleSDGothicNeoM.eot);
  src: url(fonts/AppleSDGothicNeoM.eot?#iefix) format('embedded-opentype'),
       url(fonts/AppleSDGothicNeoM.woff) format('woff'),
       url(fonts/AppleSDGothicNeoM.woff2) format('woff2'),;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(fonts/AppleSDGothicNeoB.eot);
  src: url(fonts/AppleSDGothicNeoB.eot?#iefix) format('embedded-opentype'),
       url(fonts/AppleSDGothicNeoB.woff) format('woff'),
       url(fonts/AppleSDGothicNeoB.woff2) format('woff2'),;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(fonts/AppleSDGothicNeoEB.eot);
  src: url(fonts/AppleSDGothicNeoEB.eot?#iefix) format('embedded-opentype'),
       url(fonts/AppleSDGothicNeoEB.woff) format('woff'),
       url(fonts/AppleSDGothicNeoEB.woff2) format('woff2'),;
  font-style: normal;
  font-weight: 500;
}

/*  Noto Sans KR (korean) */
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Thin.eot);
  src: url(fonts/NotoSansCJKkr-Thin.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Thin.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Thin.otf) format('truetype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Light.eot);
  src: url(fonts/NotoSansCJKkr-Light.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Light.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Light.otf) format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-DemiLight.eot);
  src: url(fonts/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-DemiLight.woff) format('woff'),
       url(fonts/NotoSansCJKkr-DemiLight.otf) format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Medium.eot);
  src: url(fonts/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Medium.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Medium.otf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Regular.eot);
  src: url(fonts/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Regular.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Regular.otf) format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Bold.eot);
  src: url(fonts/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Bold.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Bold.otf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSansCJKkr-Black.eot);
  src: url(fonts/NotoSansCJKkr-Black.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSansCJKkr-Black.woff) format('woff'),
       url(fonts/NotoSansCJKkr-Black.otf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

