.lnb {
  width: 100%;
  max-width: 280px;
}

.lnb-title {
  color: $color-1;
  @include fontCustom(28px,bold,normal,normal);
}

.user-info-box {
  margin-top: 40px;
  padding-bottom: 52px;
  border-bottom: 1px solid $bdColor-5;

  .info-list {
    display: flex;
    color: $color-9;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;

    &+ .info-list {
      margin-top: 16px;
    }
  }

  .info-value {
    font-weight: 700;
  }

  .rate-link {
    display: flex;
    align-items: center;
    gap: 12px;

    .ico-arrow {
      width: 24px;
      height: 24px;
      background: url('/assets/images/icons/ico-user-info-arr.png') no-repeat center center;
      background-size: 100%;
    }
  }
}

.my-menu {
  border-bottom: 1px solid $bdColor-5;

  .lnb-link {
    display: block;
    width: 100%;
    padding: 24px 0;
    color: $color-1;
    @include fontCustom(18px,normal,normal,normal);
  }

  &.active {
    .lnb-link {
      color: $color-6;
      font-weight: 700;
      background: url('/assets/images/icons/ico-lnb-menu-arr.png') no-repeat center right;
      background-size: 24px 24px;
    }
  }
}