// Font Color
$color-1: #222;
$color-2: #444;
$color-3: #666;
$color-4: #999;
$color-5: #fff;
$color-6: #f78523;
$color-7: #83604b;
$color-8: #ddd;
$color-9: #000;
$color-10: #eee;
$color-11: #aaa;
$color-12: #f24141;
$color-13: #2dae60;

// Background Color
$bgColor-1: #000;
$bgColor-2: #f5f5f5;
$bgColor-3: #f8f7f8;
$bgColor-4: #f9f9f9;
$bgColor-5: #ebebeb;
$bgColor-6: #ed7c1b;
$bgColor-7: #f78523;
$bgColor-8: #83604b;
$bgColor-9: #605249;
$bgColor-10: #f7f6f7;
$bgColor-11: #ddd;
$bgColor-12: #fff;
$bgColor-13: #999;
$bgColor-14: #222;
$bgColor-15: #aaa;
$bgColor-16: #eee;


// Border Color
$bdColor-1: #f8f7f8;
$bdColor-2: #83604b;
$bdColor-3: #ddd;
$bdColor-4: #444;
$bdColor-5: #eee;
$bdColor-6: #222;
$bdColor-7: #666;
$bdColor-8: #f7f6f7;